.main-text{
    margin: 0;
    width: 90%;
    height: 100vh;
}

.blog{
    width: 95%;
    display: block;
    height: 25%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(128 , 128, 128, 60%);
    text-align: left;
    border-color: lightskyblue;
    border-style: solid;
    color: black;
    position: relative;
    overflow: -moz-scrollbars-none;
    overflow: auto;
}

.blog::-webkit-scrollbar {
    width: 0 !important;
}

.blog-pic{
    width: 10%;
    position:absolute;
    left:10%;
    top:50%;
    transform:translate(-50%,-50%);
}

.blog-sub-content{
    display: inline-block;
    width: 80%;
    margin-left: 2%;
}

.in-text{
    display: block;
    position: relative;
    width: 75%;
    position:absolute;
    left:20%;
    margin-bottom: 2%;
    /* transform:translate(-50%,-50%); */
}
